export QE_PATH="/Users/dom/Documents/Repositories/prisma-engine/target/release/query-engine"
export PRISMA_DML_PATH=$(pwd)/schema.prisma

export RUST_LOG_FORMAT=devel
export RUST_BACKTRACE=1
export RUST_LOG=query_engine=debug,quaint=debug,query_core=trace,query_connector=debug,sql_query_connector=debug,prisma_models=debug,engineer=info,sql_introspection_connector=debug
export LOG_QUERIES=y